@media print {
  #print-area {
    margin-top: 8rem !important;
  }
  .print-btn {
    display: none !important;
  }
  @page {
    size: landscape;
  }
}

@page {
  size: auto;
  margin: 0mm;
}

sup {
  color: red;
}
